<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='secondary'>
  <div *ngIf='showSpinner' id='spinner'>
    <ion-spinner class='spinner' name='crescent'></ion-spinner>
  </div>
  <div class="image">
    <ion-img src='assets/images/icons/icon-512x512.png'></ion-img>
  </div>
  <form [formGroup]='resetPasswordForm' class='padding'>
    <ion-item color='secondary' lines='none'>
      <ion-label position='floating' color='primary'>Email</ion-label>
      <ion-input formControlName='email' type='email' placeholder='Email'></ion-input>
    </ion-item>
    <ion-item color='secondary' lines='none'>
      <ion-button type='submit' [disabled]='!resetPasswordForm.valid'>Reset Password</ion-button>
    </ion-item>
  </form>
</ion-content>
